<h1>Listing users</h1>
<%= form_tag users_path, method: :get do |f| %>
<input type="text" placeholder="query" name="q" value="<%= params["q"].html_safe %>"/>
<%= submit_tag :search %>
<% end %>
<table>
  <tr>
    <th>Name</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user['name'].html_safe %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
